<input type="number" name="num1" [(ngModel)]="num1" placeholder="Numero 1">
<input type="number" name="num2" [(ngModel)]="num2" placeholder="Numero 2">
<input type="number" name="resultado" [(ngModel)]="resultado" placeholder="Resultado">
<button (click)="somar()" class="btn btn-primary">Somar</button>
<button (click)="subtrair()" class="btn btn-primary">Subtrair</button>
<button (click)="multiplicar()" class="btn btn-primary">Mult</button>
<button (click)="dividir()" class="btn btn-primary">Dividir</button>